<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <link rel="stylesheet" href='/staticFiles/main.css' /> -->
  </head>
  <body>
    <center><h1>FFT</h1>

    <p>Upload Graph</p>
 
    <form method="POST" enctype="multipart/form-data" action="/">
        <input type="file" id="myFile" name="uploaded-file" accept=".csv">
        <input type="submit" value="Upload file">
    </form>
  <br>
  <!-- <p style="color:green;">file uploaded successfully</p> -->
  </center>
  <center>
    
      <div id="showhide">
        <!-- <h1>FFT Graph</h1> -->
        <img src="{{ user_image }}" alt="User Image">
      </div>
    
  </center>
  </body>
</html>